# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\git\C-Demos\SocketForLinux\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
